.App {
    text-align: center;
    height: 100%;
}

.login {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}